.category-badge {
    position: absolute;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
    top: -25px;
    left: 0px;
    font-size: 10px;
    height: 70px;
    width: 70px;
    background-color: red;
    border-radius: 50%;
  }
