.category-badge {
    position: absolute;
    align-items: center;
    text-align: center;
    display: flex;
    top: -25px;
    left: 0px;
    font-size: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--badge-color);
    color: var(--text-color);
    opacity: var(--badge-category) /* Value will be set to 0 if any of the BM attributes is null */
  }
